            <div class="dark-bg med-text pad15 block" data-style="userHov">
                <h2 id="{{post.id}}" class="inline dark-bg">{{post.title}}</h2>
                <p id="by-user" class="inline xs-font fltR">Posted by: {{post.user.name}} on {{post.post_date}}</p>
            </div>

            <div class="posts pad15">
                <p id="user-post">{{post.post_text}}</p>
            </div>