  </div>
  {{> all-count}}

  <div class="hide">
    <div class="list-top dark-brd med-text hgt40 pad15">
      <p id="close" class="xl-font inline cursor">-</p>
    </div>
{{#each comments as |comment|}}
    <div id="{{format_id @index}}" class="post-comment dark-bg med-text hgt40 pad15" data-style="hover">
      <p id="by-user" class="inline xs-font fltR">Comment by: {{this.user.name}} on {{this.comment_date}}</p>
    </div>

    <div class="list-comments pad15">
      <p id="{{this.id}}">{{this.comment_text}}</p>
    </div>
{{/each}}

  </div>

{{> add-comment-box}}