    <p id="by-user">Posted by: {{ user.name }} on {{post_date}}</p>
  </div>

  <div class="posts">
    <p id="user-post">{{post_text}}</p>
  </div>
  
  <div class="comments">
    <p id="comments">comments:  <span id="comment-total">{{comments.length}}</span></p>
  </div>
{{#each comments}}
  <div class="comment-list">

    <div class="post-comment">
      <p id="hide-list">-</p>
      <p id="by-user">Comment by: {{this.user.name}} on {{this.comment_date}}</p>
    </div>

    <div class="list-comments">
      <p id="user-comment">{{this.comment_text}}</p>
    </div>

  </div>
{{/each}}
</section>