{{> section-label}}
        <h2 id="topic-title">{{viewTitle.posts}}</h2>
    </div>

    <div class="comments">
        <p id="{{sectionID}}" class="underline click-width open">posts:  <span id="comment-total">{{posts.length}}</span></p>
    </div>

    <div class="list">
        <div class="list-top">
            <p id="{{sectionID}}" class="close">-</p>
            <p class="click-edit">( click post section to edit )</p>
        </div>

    {{#each posts}}
        <section class="edit-post select">
            <div class="section-label" data-style="userHov">
            {{> all-titles}}
            {{> all-posts}}

    {{/each}}

{{> close-section}}


{{> section-label}}
        <h2 id="topic-title">{{viewTitle.comments}}</h2>
    </div>

    <div class="comments">
        <p id="{{sectionID}}" class="underline click-width open">comments:  <span id="comment-total">{{comments.length}}</span></p>
    </div>

    <div class="list">
        <div class="list-top">
            <p id="hide-list" class="close">-</p>
            <p class="click-edit">( click comment section to edit )</p>
        </div>

        <section class="edit-comment select">
            {{#each comments}}
            {{> all-comment-postTitles}}
            {{> all-comments}}
            {{/each}}
        </section>        
    </div>

{{> close-section}}

{{> new-post}}

{{> script-dashboard}}
{{> script-logout}}