{{> section-label}}
        <h2 class="inline dark-bg">{{viewTitle.posts}}</h2>
    </div>

    <div id="list" class="posts dark-brd pad15">
        <p class="underline click-width open inline cursor">posts:  <span id="comment-total">{{posts.length}}</span></p>
    </div>

    <div class="hide">
        <div class="list-top dark-brd med-text hgt40 pad15">
            <p id="close" class="xl-font inline cursor">-</p>
            <p class="click-edit inline marL">( click Post to edit )</p>
        </div>

    {{#each posts}}
        <section id="{{format_id @index}}" class="select">
            <div id="edit-post" class="edit-this cursor">
                <div class="dark-bg med-text pad15 block" data-style="userHov">
                {{> all-titles}}
                {{> all-posts}}

    {{/each}}

{{> close-section}}

{{> section-label}}
        <h2 class="inline dark-bg">{{viewTitle.comments}}</h2>
    </div>

    <div id="list" class="comments dark-brd pad15">
        <p class="underline click-width open inline cursor">comments:  <span id="comment-total">{{comments.length}}</span></p>
    </div>

    <div class="hide">
        <div class="list-top dark-brd med-text hgt40 pad15">
            <p id="close" class="xl-font inline cursor">-</p>
            <p class="click-edit inline marL">( click Comment to edit )</p>
        </div>

        
        {{#each comments}}

        {{#if (postID_change @index)}}
        <section id="{{format_id @index}}" class="select">
            {{> all-comment-postTitles}}
        {{/if}}

            {{> all-comments}}

        {{#if (different @index)}}
        </section>
        {{/if}}
        {{/each}}
               
    {{!-- </div> --}}

{{> close-section}}

{{> add-edit-box}}

{{> new-post}}

{{> script-dashboard}}